@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
select,
textarea,
input {
  font-family: "Press Start 2P", cursive;
  border: none;
  background-color: #ffffff;
}
button:focus,
select:focus,
textarea:focus,
input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

input {
  font-size: 18px;
  padding: 20px 15px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #000000;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/press-start-2p/subset-PressStart2P-Regular.woff2") format("woff2"), url("../fonts/press-start-2p/subset-PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "taskagitmakas";
  src: url("../fonts/icon-fonts/taskagitmakas.eot?81c60j");
  src: url("../fonts/icon-fonts/taskagitmakas.eot?81c60j#iefix") format("embedded-opentype"), url("../fonts/icon-fonts/taskagitmakas.ttf?81c60j") format("truetype"), url("../fonts/icon-fonts/taskagitmakas.woff?81c60j") format("woff"), url("../fonts/icon-fonts/taskagitmakas.svg?81c60j#taskagitmakas") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "taskagitmakas" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  border-radius: 100px;
  padding: 15px 35px;
  overflow: hidden;
  cursor: pointer;
}
.button-primary-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 30px;
  transform: translateY(100%);
  background-color: #ffffff;
  transition: 0.3s all;
}
.button-primary:hover .button-primary-icon {
  transform: translate(0);
}
@media (max-width: 768px) {
  .button-primary {
    font-size: 14px;
    padding: 10px 20px;
  }
  .button-primary-icon {
    font-size: 20px;
  }
}

.validation-message {
  display: none;
  font-weight: 700;
}
.validation-message.error {
  color: #e74c3c;
}

.text-primary {
  color: #fed106;
}

body {
  color: #000000;
  font-family: "Press Start 2P", cursive;
  background-color: #fed106;
  overflow: hidden;
}

.logo {
  font-size: 34px;
  text-align: center;
}
@media (max-width: 1200px) {
  .logo {
    font-size: 22px;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  background-color: #fed106;
  transition: 0.3s all;
}
.page-title {
  font-size: 22px;
  font-weight: 700;
}
.page.hide {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.welcome-page,
.username-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-page {
  gap: 50px;
  transition-delay: 0.3s;
}
.welcome-page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.welcome-page-banner img {
  max-width: 300px;
  width: 100%;
}
@media (max-width: 1200px) {
  .welcome-page {
    gap: 20px;
  }
  .welcome-page-banner img {
    max-width: 120px;
  }
}

.username-page {
  gap: 30px;
  z-index: 2;
  transition-delay: 0.6s;
}
.username-page input {
  max-width: 100%;
}
@media (min-width: 568px) {
  .username-page input {
    min-width: 450px;
  }
}

.game-area-page {
  display: flex;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  transition-delay: 1s;
}
.game-area-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #ffffff;
  z-index: -1;
}
.game-area-page.visible {
  opacity: 1;
  visibility: visible;
}

.game-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 4;
}
@media (max-width: 1200px) {
  .game-area-header {
    top: auto;
    bottom: 0;
  }
}

.username {
  font-size: 16px;
}
@media (min-width: 1200px) {
  .username {
    font-size: 24px;
  }
}

.score {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  background-color: #000000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px 35px 10px;
}
.score-content {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .score {
    font-size: 24px;
    border-radius: 100px;
    padding: 30px 60px;
  }
  .score-content {
    font-size: 40px;
  }
}

.game-area-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 768px) {
  .options {
    gap: 30px;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}
.option img {
  width: 100%;
}
.option.hide {
  display: none;
}
.option.selected {
  display: flex;
  background-color: #000000;
}
.option.selected img {
  width: 70%;
}
@media (max-width: 1200px) {
  .option {
    width: 75px;
    height: 75px;
  }
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 209, 6, 0.75);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 4;
  transition: 0.3s all;
}
.game-over-content {
  position: relative;
  width: 100%;
  max-width: 700px;
  border-radius: 50px;
  transform: translateY(-50px);
  background-image: url("../img/bg-game-over.png");
  background-color: #ffffff;
  padding: 80px 50px 120px 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}
.game-over-text {
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px #fed106;
}
.game-over-title {
  font-size: 34px;
  margin-bottom: 15px;
}
.game-over-subtitle {
  font-size: 44px;
}
.game-over.visible {
  opacity: 1;
  visibility: visible;
}
.game-over.visible .game-over-content {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1200px) {
  .game-over-content {
    transform: scale(0.65) translateY(-50px) !important;
  }
}

.play-again {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  color: #ffffff;
  font-size: 44px;
  border-radius: 50%;
  background-color: #000000;
  transition: 0.3s all;
}
.play-again:hover {
  transform: translateX(-50%) scale(1.05) rotate(360deg);
}

.device-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fed106;
  z-index: 5;
}
.device-message-icon {
  font-size: 124px;
  transform: rotate(0);
  opacity: 0;
  animation: device 2s ease-in-out infinite;
}
@media (orientation: landscape) {
  .device-message {
    display: none;
  }
}

@keyframes device {
  to {
    opacity: 1;
    transform: rotate(90deg);
  }
}